h1{
    font-size: 100px;
    color: black;
}

label{
    font-size: 40px;
    color: black;
}

body {
    background-color: #12a112;
  }

.buttonlocation{
    float: right;
    position: absolute;
    top: 0;
    right: 0
}